<h1>DATA GROUP</h1>
<td><?php echo $this->Html->link('Tambah Group','tambah'); ?></td>
<?php
    echo $this->Form->create('Group');
    echo $this->Form->input('name');
    echo $this->Form->end('Simpan');

?>

